<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia facere recusandae nemo unde! Repellendus eius a impedit voluptas? Aut, placeat. Excepturi neque veritatis repellendus maxime illum, recusandae exercitationem officia doloremque.</p>
    <img src="{% static 'polls/images.jpeg' %}" alt="">
</body>
</html>